body{
    font-family: 'Poppins', sans-serif;
    padding: 0%;
    flex-wrap: wrap;
    margin: 0%;
}

/* topmost section formatting: start */
.banner img{
    width: 538px;
    height: 456px;
    padding-top: 153px;
    padding-right: 140.99px;
    padding-bottom: 86px;
    padding-left: 180px;
}
.top-section{
    display: flex;
    background-color: darkblue;
    height: 750px;
    width: 1346px;
    padding: 2px;
}

.thumbnail img{
    height: 256px;
    width: 300px;
}
.heading{
    width: 484px;
    height: 230px;
    
    font-size: 64px;
    font-weight: 700px;
    color: #FFFFFF;
}
.top-info{
    padding-top: 107px;
    padding-left: 0px;
    padding-right: 0px;
}
h1{
    font-size: 28px;
    font-weight: 700;
}
.button{
    background-color: #E02C6D;
    color: #FFFFFF;
    width: 148px;
    height: 40px;
    text-align: center;
    border: none; 
}
#button{
    color: white;
    text-decoration: none;
}

/* top most section format: end */
/* Article section: start */
p{
    font-size: 16;
}
article{
    margin-top: 27px;
}


.top-info:hover {
    transform: translateX(150px);
    transition: width .5s, height .5s, transform 2s;   
}
.banner:hover{
    transform: translateX(-150px);
    transition: width .5s, height .5s, transform 2s;
}
.players-container{
    width: 1050px;
    height: 474;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 80px;
}
main{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player{
    
    padding: 15px;
    height: 565px;
    width: 330px;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px rgba(231, 227, 227, 0.945);
    align-items: center;
}

.player-name{
    text-decoration: none;
    color: darkblue;
}

.football-logo img{
    width: 483.87px;
    height: 110px;
    margin-top: 58px;
    margin-bottom: 58px;
}
/* Article section: end */

/* Socia media icons: start */
.fa-youtube{
    color: red;
}
.fa-instagram{
    color:#F56040
}
.fa-snapchat-square{
    color:#FFFC00
}
.fa-twitter-square{
    color:#1DA1F2
}

.fa-dribbble{
    color:#ea4c89;
}
.fa-arrow-right{
    color: #FFFFFF;
}
.social-icon{
    text-align: center;
}
/* Social media icon: end */
/* Copa America 2021 official logo ormatting: start */
.copa-logo {
    position:relative;
    left:358px;top:0px;
}
h2{
    text-align: center;
}
/* Copa America 2021 official logo ormatting: end */

/* sponsor section position format: start */
.sponsors{
    text-align: center;
    font-size: 70px;
    display: flex;
    justify-content: center;
    margin-right: 50px;
}
.fab{
    font-size: 60px;
    text-align: center;
}
/* sponsor section position format: end */
 /* sponsor logo color format: start */

.fa-fedex{
    color: #FF6600;
}
.fa-apple-pay{
    color: darkslateblue;
    margin-left: 30px;
    margin-right: 30px;
}
.fa-asymmetrik{
    color: darkcyan;
}
/* sponsor logo color format: end */

.miscellenous{
    justify-content: center;
}

.bottom-section{
    position: relative;
    left:40px;top:0px;}